.container
	.well
		h1.fa.fa-user   Add Local Profile
		form.form-horizontal(name="signupForm", action="/connect/local" method="post")
			fieldset
				legend
				.form-group
					.col-md-6
						input.form-control(name="userName", type="text", placeholder="User Name", ng-model="userName", required, autofocus,ng-minlength="4" ng-maxlength="10")
				.form-group
					.col-md-6
						input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
				.form-group
					.col-md-6
						input.form-control(name="password", type="password", placeholder="Password", ng-model="password", required,ng-minlength="6")
				.form-group
					.col-md-6.col
						.pull-right
							button.btn.btn-warning(type="submit", ng-disabled="signupForm.$invalid") Submit
							| 
							a.btn.btn-default(href="/profile") Cancel

		hr
			
		p
			a(href="/profile") Go back to profile